# Database Settings
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=FlagshipGadget@2024!
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6379

# Security Settings
SECRET_KEY=a_very_secret_key_change_me_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Environment
ENVIRONMENT=local
UVICORN_PORT=8051

# API Keys

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=flagshipgadgetinfo@gmail.com
SMTP_PASSWORD=kcodvgjczdrglolr
SMTP_FROM_EMAIL=flagshipgadgetinfo@gmail.com
